# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 50628b6ec78b6694f5dc653a23dd8aab478cad216ef89269f12e29efd135991d2425fe304e8d14ca10dcafca0e3fc55a9dc47e542cc346d57fcb152d3ba2c703
  consumer_key: "YOUR_CONSUMER_KEY"
  consumer_secret: "YOUR_SECERET"
  access_token: "ACCESS TOKEN"
  access_toke_secret: "ACCESS TOKE SECERET"
  
test:
  secret_key_base: 3f8aafb70ef459ebc84f6a7b448c568707580bf94c6d358f05b66c78e6c1995f1a66029a808631a9a2ce9573570d39f7072af1b5d49d6e793a377e21a15b4100

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
